{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container col-sm-12">
        <div class="blog-header">
            <h1 class="tab_admin">Tableau de bord de {{ author.name }} {% if author.isAdmin %} (Administrateur){% endif %}</h1>
        </div>

            <div class="col-xs-2 col-sm-12 blog-main">
                <table class="table table-striped critique_admin" >
                    {% if author.isAdmin %}
                    <thead>
                    <th colspan="6" style="text-align: center;background-color: #343a40 ;color:white;">Critiques</th>
                    </thead>
                    {% endif %}
                    <thead style="background-color:#42b55f;color:white;">
                    <th>Titre</th>
                    <th>Crée le</th>
                    <th>Mis à jour le</th>
                    {% if author.isAdmin %}
                    <th>Auteur</th>
                    {% endif %}
                    <th style="text-align: center;">Action</th>
                    </thead>
                    {% for blogPost in blogPosts %}
                        <tr>
                            <td>{{ blogPost.title }}</td>
                            <td>{{ blogPost.createdAt|date('Y-m-d') }}</td>
                            <td>{{ blogPost.updatedAt|date('Y-m-d H:i') }}</td>
                            {% if author.isAdmin %}
                            <td>{{ blogPost.author.surname}} {{ blogPost.author.name}}</td>
                            {% endif %}
                            <td class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"{% if author.isAdmin %} href="{{ path('admin_delete_all_entry', {'entryId': blogPost.id}) }}"{% else %}href="{{ path('author_delete_entry', {'entryId': blogPost.id}) }}"{% endif %}>Supprimer</a>
                                    <a class="dropdown-item" {% if author.isAdmin %}href="{{ path('admin_update_all_entry', {'entryId': blogPost.id}) }}"{% else %}href="{{ path('author_review_update_entry', {'entryId': blogPost.id}) }}"{% endif %}>Editer</a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Pas de critiques postées</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
                    {% if author.isAdmin %}
                    <div class="col-xs-8 col-sm-12 author-main" style="margin-top: 50px;">
                        <table class="table table-striped author_admin" >
                            <thead>
                            <th colspan="6" style="text-align: center;background-color: #343a40;color: white;">Auteurs</th>
                            </thead>
                            <thead  style="background-color:#42b55f;color:white;">
                            <th>Prénom</th>
                            <th>Nom de famille</th>
                            <th>Pseudo</th>
                            <th>E-mail</th>
                            <th>Nb posts</th>
                            <th style="text-align: center;">Action</th>
                            </thead>
                            {% for author in authors%}
                            <tr>
                                <td>{{author.name }}</td>
                                <td>{{ author.surname}}</td>
                                <td>{{ author.pseudo }}</td>
                                <td>{{ author.email }}</td>
                               {% for key, blogPostsCount in blogPostsCounts%}{% if key == author.pseudo%} <td>{{ blogPostsCount }}</td>{% endif %}{% endfor %}
                                <td class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{{ path('author_delete', {'entryId': author.id}) }}">Supprimer</a>
                                        <a class="dropdown-item" href="{{ path('author_update', {'entryId': author.id}) }}">Editer</a>

                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>
            </div>
{% endblock %}

