{% extends 'base.html.twig' %}
{% block body %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-100" src="" alt="Second slide">Chargement en cours...</div>
            </div>
            {% for actu in rss %}
                <div class="carousel-item ">
                    <div class="d-block w-100" src="" alt="First slide"><span>{{ actu.date|date('Y-m-d H:i') }} </span><i class="fas fa-rss" style="color: #fd7e14"></i><a href=" {{ actu.link }}" target="_blank"><h5 class="bookTitle"> {{ actu.title }}</h5></a></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <p class="flashs">
    {% for  messages in app.flashes %}
        {% for message in messages %}

            <div class="alert alert" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <i class="fas fa-frown  fa-3x" style=" color: yellow"></i></br>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    </p>
    <section class="formulaire">
        <div class="containerService">
            <div class="row">
                <div class="offset-lg-3 col-lg-6 offset-sm-3 col-sm-6 col-centered">
                    <div class="panel panel-default">
                        <div class="card card-outline-secondary">
                            <div class="card-header">
                                <h3 class="mb-0" style="color: white">Formulaire critiques</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" action="{{ path('get_book') }}" method="POST">
                                    <fieldset>
                                        <label for="isbn" class="mb-0">ISBN</label>
                                        <div class="row mb-1">
                                            <div class="col-lg-12">
                                                <input type="text" rows="6" name="isbn" id="isbn" class="form-control" required="">
                                            </div>
                                        </div>
                                            <label for="avis" class="mb-0">Mon avis</label>
                                            <div class="row mb-1">
                                                <div class="col-lg-12">
                                                    <textarea rows="6" name="avis" id="avis" class="form-control" required=""></textarea>
                                                </div>
                                            </div>
                                            <div class="row mb-1">
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn btn-info btn-lg float-right" name="send">Envoyer</button>
                                                </div>
                                            </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}