{% extends "base.html.twig" %}

{% block title %}App:blog:comment{% endblock %}

{% block body %}
    <div class="container" id="comment">
    <div class="blog-header">
        {% if comments %}
            <h1 style="margin-top: 20px; margin-bottom: 20px;">Commentaires</h1>
        {% else  %}
            <h1 class="blog-title">Pas de commentaires</h1>
        {% endif %}
    </div>
        <p class="flashs">
            {% for  messages in app.flashes %}
            {% for message in messages %}
        <div class="alert alert" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
        </p>
    {% if comments %}
        {% for comment in comments %}
            <article class="row justify-content-center offset-6 col-12">
                <div class="commentaire col-6" style="background-color: white; margin-bottom: 20px;">
                    {% if author.username == comment.author.username%}
                        <span class="deleteComment justify-content-right"><a href="{{ path('delete_comment', {'blogPostId':blogPost.id, 'commentId': comment.id,'slug':blogPost.id}) }}">x</a></span>
                        <span class="editComment justify-content-right" onclick="main.editComment({{ comment.id }})">edit</span>
                    {% else %}
                    {% if author.admin%}
                    <span class="deleteComment justify-content-right"><a href="{{ path('delete_comment', {'blogPostId':blogPost.id, 'commentId': comment.id,'slug':blogPost.id}) }}">x</a></span>
                    {% endif %}
                    {% endif %}
                    <form class="col-6 form_update_comment{{ comment.id }}" style="padding: unset; display: none" action="{{ path('update_comment', {'blogPostId':blogPost.id, 'commentId': comment.id,'slug':blogPost.id}) }}"  method="POST">
                        <textarea rows="3" name="update_comment" id="update_comment" class="form-control" required="" placeholder="Ecrire un commentaire"></textarea>
                        <button class="btn btn-info" type="submit" style="margin-bottom: 20px;">Poster</button>
                    </form>
                    <div style="font-style: italic">Posté par <a href="{{ path('author', {'name': comment.author.username|url_encode }) }}">{{ comment.author.name }}  </a> le {{ comment.updatedAt|date('Y-m-d-H:i:s') }}
                        <div id="comment{{ comment.id }}">{{ comment.content|raw }}</div>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% endif %}
        </br>
        <form class="justify-content-center offset-3 col-6 form_comment" style="padding: unset;" action="{{ path('create_comment_review', {'blogPostId':blogPost.id}) }}"  method="POST">
            <textarea rows="3" name="comment" id="comment" class="form-control" required="" placeholder="Ecrire un commentaire"></textarea>
            <button class="btn btn-info" type="submit" style="margin-bottom: 20px;">Poster</button>
        </form>
    </div>
{% endblock %}
