{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container col-sm-12">
        <div class="blog-header">
            <h1 class="tab_admin">Tableau de bord de {{ author.name }} {% if author.isAdmin %} (Administrateur){% endif %}</h1>
            <a class="btn btn-info button_critique">liste critiques</a>
            {% if author.isAdmin %}
                <a class="btn btn-info button_author">liste Auteurs</a>
            {% endif %}
        </div>
            <div class="col-xs-2 col-sm-12 blog-main">
                <table class="table table-striped critique_admin" style="display: none" >
                    {% if author.isAdmin %}
                    <thead>
                    <th colspan="6" style="text-align: center;background-color: #343a40;color:white;">Critiques</th>
                    </thead>
                    {% endif %}
                    <thead style="background-color : #ffe5ce">
                    <th>Titre</th>
                    <th>Crée le</th>
                    <th>Mis à jour le</th>
                    {% if author.isAdmin %}
                    <th>Auteur</th>
                    {% endif %}
                    <th style="text-align: center;">Action</th>
                    </thead>
                    {% for blogPost in blogPosts %}
                        <tr>
                            <td>{{ blogPost.title }}</td>
                            <td>{{ blogPost.createdAt|date('Y-m-d') }}</td>
                            <td>{{ blogPost.updatedAt|date('Y-m-d H:i') }}</td>
                            {% if author.isAdmin %}
                            <td>{{ blogPost.author.surname}} {{ blogPost.author.name}}</td>
                            {% endif %}
                            <td><a class="btn btn-danger"{% if author.isAdmin %}href="{{ path('admin_delete_all_entry', {'entryId': blogPost.id}) }}"{% else %}href="{{ path('admin_delete_entry', {'entryId': blogPost.id}) }}"{% endif %} >Supprimer</a>
                            <a class="btn btn-info" {% if author.isAdmin %}href="{{ path('admin_update_all_entry', {'entryId': blogPost.id}) }}"{% else %}href="{{ path('admin_update_entry', {'entryId': blogPost.id}) }}"{% endif %}>Editer</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No entries available</td>
                        </tr>
                    {% endfor %}
                </table>
                    {% if author.isAdmin %}
                    <div class="col-xs-8 col-sm-12 author-main" style="margin-top: 50px;">
                        <table class="table table-striped author_admin" style="display: none" >
                            <thead>
                            <th colspan="6" style="text-align: center;background-color: #343a40;color: white;">Auteurs</th>
                            </thead>
                            <thead style="background-color : #ffe5ce">
                            <th>Prénom</th>
                            <th>Nom de famille</th>
                            <th>Pseudo</th>
                            <th>E-mail</th>
                            <th>Nb posts</th>
                            <th style="text-align: center;">Action</th>
                            </thead>
                            {% for author in authors%}
                            <tr>
                                <td>{{author.name }}</td>
                                <td>{{ author.surname}}</td>
                                <td>{{ author.pseudo }}</td>
                                <td>{{ author.email }}</td>
                               {% for key, blogPostsCount in blogPostsCounts%}{% if key == author.pseudo%} <td>{{ blogPostsCount }}</td>{% endif %}{% endfor %}
                                <td><a class="btn btn-danger" href="{{ path('author_delete_entry', {'entryId': author.id}) }}">Supprimer</a>
                                    <a class="btn btn-info" href="{{ path('author_update_entry', {'entryId': author.id}) }}">Editer</a></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>
         </div>
{% endblock %}

