{% extends "base.html.twig" %}
{% block body %}
    {% include "rss.html.twig" %}
    <div class="container">
        <div class="blog-header">
        {% if blogPosts %}
            <h2 class="row justify-content-center col-12"><mark>Résultat(s) trouvé(s)</mark></h2>
        {% else %}
            <h2 class="row justify-content-center col-12"><mark>Aucun résultat</mark></h2>
        {% endif %}
        </div>
        {% for blogPost in blogPosts %}
            <div class="row">
                <article class=" col-12">
                    {% include "modal.html.twig" %}
                    <div class="livres col-12">
                        <div class="row">
                            <span class="col-4 category">{{ blogPost.category }}</span>
                            <p class=" col-8 datePost">{{ blogPost.getUpdatedAt|date('Y-m-d H:i') }} par
                                {% if blogPost.author %}
                                    <a href="{{ path('author', {'name': blogPost.author.username|url_encode }) }}">
                                        {{ blogPost.author.pseudo }}
                                    </a>
                                {% else %}
                                    Auteur inconnu
                                {% endif %}
                            </p>
                        </div>
                        <h3 class="bookTitle"> {{ blogPost.title }}<span class="writer">({{ blogPost.writer }})</span></h3>
                        {% if app.user %}
                            <img src="{{ blogPost.cover }}" alt="couverture" style="width: 70px; max-height:100px; min-height: 80px; box-shadow: 5px 5px 5px #aaa;">
                        {% else %}
                            <img src="{{ blogPost.cover }}" alt="couverture" style="width: 70px; max-height:100px; box-shadow: 5px 5px 5px  #aaa;">
                        {% endif %}
                        <p class="description"><span class="avis">SYNOPSIS : </span>{{blogPost.description|truncate(100)}}</p>
                        <div><p class="review"><span class="avis">MON AVIS: </span>{{blogPost.review|truncate(100)}}</p></div>
                        <p><a href="#ex{{ blogPost.id }}" rel="modal:open">plus de détails....</a></p>
                        <hr/>
                    </div>
                </article>
            </div>
    {% endfor %}
    </div>
{% endblock %}