{% extends "base.html.twig" %}
{% block body %}
    {% include "rss.html.twig" %}
    <div class="container">
        <div class="blog-header">
        {% if blogPosts %}
            <h2 class="row justify-content-center col-12"><mark>Résultat(s) trouvé(s)</mark></h2>
        {% else %}
            <h2 class="row justify-content-center col-12"><mark>Aucun résultat</mark></h2>
        {% endif %}
        </div>
        {% for blogPost in blogPosts %}
            <div class="row">
                <article class="row justify-content-center col-12">
                    <div class="livres col-md-12">
                        <div class="row">
                            <p class=" col-12 datePost">{{ blogPost.getUpdatedAt|date('Y-m-d H:i') }} par
                                {% if blogPost.author %}
                                    <a href="{{ path('author', {'name': blogPost.author.username|url_encode }) }}">
                                        {{ blogPost.author.name }}
                                    </a>
                                {% else %}
                                    Auteur inconnu
                                {% endif %}
                            </p>
                        </div>
                        <img src="{{ blogPost.cover }}" alt="couverture" style="width: 70px;">
                        <h3 class="bookTitle"> {{ blogPost.title }} <span class="writer">({{ blogPost.writer }})</span></h3>
                        <div><p class="review"><span class="avis">MON AVIS: </span>{{blogPost.review}}</p></div>
                        {% if app.user %}
                            <a href="{{ path('display_review', {'blogPostId': blogPost.id, 'slug': blogPost.slug}) }}"><button class="btn btn-primary">Plus de détails</button></a>
                        {% endif %}
                        <hr/>
                    </div>
                </article>
            </div>
    {% endfor %}
    </div>
{% endblock %}