{% extends "base.html.twig" %}

{% block title %}App:blog:entry{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Critique</h1>
        </div>
        <p class="flashs">
            {% for  messages in app.flashes %}
            {% for message in messages %}
        <div class="alert alert" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
        <div class="row">
            <article class="row justify-content-center  col-12">
                <div class="livre col-12">
                    <h2 class="blog-post-title">{{ blogPost.title }}</h2>
                    <p class="blog-post-meta">
                        {{ blogPost.updatedAt|date('Y-m-d H:i') }} par <a href="{{ path('author', {'name': blogPost.author.username|url_encode }) }}">
                            {{ blogPost.author.name }}
                        </a>
                    </p>
                    <h3>Synopsis</h3>
                    <p>{{ blogPost.description|raw }}</p>

                    <h3>Avis</h3>
                    <p>{{ blogPost.review|raw }}</p>
                </br>
                    {% if commentReview is defined %}
                    <div class="commentReview" style="display: none;">{{ commentReview }}</div>
                    {% endif %}
                    <form class="col-6 form_comment" style="padding: unset;" action="{{ path('post_comment', {'id':blogPost.id}) }}"  method="POST">
                        <textarea rows="3" name="comment" id="comment" class="form-control"  placeholder="Ecrire un commentaire"></textarea>
                        <button class="btn btn-info" type="submit" style="margin-bottom: 20px;">Poster</button>
                    </form>
                    {% if comments %}
                        {% for comment in comments %}
                            <article class="row col-12" style="padding: unset">
                                <div class="commentaire col-6" style="background-color: white; margin-bottom: 20px;">
                                    <div style="font-style: italic">Posté par <a href="{{ path('author', {'name': comment.author.username|url_encode }) }}">{{ comment.author.name }}  </a> le {{ comment.updatedAt|date('Y-m-d-H:i:s') }}
                                        <div id="comment{{ comment.id }}">{{ comment.content|raw }}</div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                    {% if comments %}
                    <div class="plus col-6" ><a href="{{ path('display_comments', {'id': blogPost.id}) }}">Tous les commentaire(s)</a></div>
                    {% endif %}
                </div>
            </article>
    </div>
        </div>
    </div>
{% endblock %}


