{% extends "base.html.twig" %}

{% block title %}App:blog:entry{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Critique</h1>
        </div>
        <div class="row">
            <article class="row justify-content-center  col-12">
                <div class="livre col-12">
                    <h2 class="blog-post-title">{{ blogPost.title }}</h2>
                    <p class="blog-post-meta">
                        {{ blogPost.updatedAt|date('Y-m-d H:i') }} par <a href="{{ path('author', {'name': blogPost.author.username|url_encode }) }}">
                            {{ blogPost.author.name }}
                        </a>
                    </p>
                    <h3>Synopsis</h3>
                    <p>{{ blogPost.description|raw }}</p>

                    <h3>Avis</h3>
                    <p>{{ blogPost.review|raw }}</p>
                </div>
            </article>
        </div>
    </div>

{% endblock %}