{% extends "base.html.twig" %}

{% block title %}App:blog:entry{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Critiques</h1>
            <p class="lead blog-description">Derniéres critiques</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ blogPost.title }}</h2>
                    <p class="blog-post-meta">
                        {{ blogPost.updatedAt|date('Y-m-d H:i') }} par <a href="{{ path('author', {'name': blogPost.author.username|url_encode }) }}">
                            {{ blogPost.author.name }}
                        </a>
                    </p>
                    <h3>Synopsis</h3>
                    <p>{{ blogPost.description|raw }}</p>

                    <h3>Avis</h3>
                    <p>{{ blogPost.review|raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}