{% block navBar %}
<div class="sticky-top" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="opacity: 0.9;box-shadow: 3px 3px 10px 5px #000;">
    <a class="navbar-brand" href="{{ path("homepage") }}"><img src="{{ asset('images/livre.jpg') }}" alt="Logo" style="width:80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if app.request.get('_route') not in ['homepage', 'display_reviews'] %}
                <li class="">
                    <a class="nav-link active"  href="{{ path("homepage") }}"><i class="fas fa-home"></i> Accueil<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path("admin_index") }}"><i class="fas fa-toolbox"></i> Tableau de bord<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('display_form_review') }}"><i class="fas fa-newspaper"></i> Emettre une critiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ logout_url("secured_area") }}"><i class="fas fa-sign-out-alt"></i>Deconnexion</a>
                </li>
            {% else %}
                <li class="nav">
                    <a class="nav-link active"  href="/connect/auth0"><i class="fas fa-sign-in-alt"></i> Se connecter </a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline" action="{{ path('search_review') }}"  method="POST">
            <input type="text"  name="search" id="search" class="form-control" placeholder="Titre, Auteur, catégorie... " style="margin-right: 10px;">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" > <i class="fas fa-search" title="Rechercher"></i></button>
        </form>
    </div>
</nav>
    <div class="index d-none d-lg-block">
    <div class="btn-toolbar d-flex justify-content-between alphabet" role="toolbar" aria-label="...">
        <div class="btn-group index" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'a'}) }}">A</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index' , {'letter':'b'}) }}">B</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'c'}) }}">C</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'d'}) }}">D</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'e'}) }}">E</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'f'}) }}">F</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'g'}) }}">G</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'h'}) }}">H</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'i'}) }}">I</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'j'}) }}">J</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'k'}) }}">K</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'l'}) }}">L</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'m'}) }}">M</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'n'}) }}">N</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'o'}) }}">O</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'p'}) }}">P</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'q'}) }}">Q</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'r'}) }}">R</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'s'}) }}">S</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'t'}) }}">T</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'u'}) }}">U</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'v'}) }}">V</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'w'}) }}">W</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'x'}) }}">X</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'y'}) }}">Y</a></div>
        <div class="btn-group" role="group" aria-label="..."><a  href="{{ path('search_index'  ,{'letter':'z'}) }}">Z</a></div>
    </div>
</div>
</div>
{% endblock %}
